@model ChangePasswordViewModel

<form asp-action="ChangePassword" method="post" novalidate>
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword">
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword">
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword">
    </div>

    <button type="submit">Kaydet</button>
</form>