@model UserResetPasswordViewModel

<form asp-action="ResetPassword" method="post" novalidate>
    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Token" />
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password">
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword">
    </div>

    <button type="submit">Kaydet</button>
</form>